.header{
	/* background: pink; */
	text-align: center;
	font-size: 28px;
	padding: 7px;
	border-bottom: 1px #ccc solid;
}

.leftToRight{
	display: flex;
}

.left-menu{
	/* background: antiquewhite; */
	width: 150px;
	border-right: 1px #ccc solid;
	padding: 20px 30px;
	background: white;
	font-family: 'Roboto', sans-serif;
}

.menu-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
	font-size: 16px;
	padding-left: 15px;
	margin-bottom: 15px;
	border-left: 2px solid #b99d61;
}

.menu-list{
	padding: 0;
	list-style: none;
}

.menu-elem{
	padding: 10px; /* Поля вокруг текста */
	border-radius: 5px; /* Уголки */
	border: 1px #ccc solid;
}

.content{
	/* background: aqua; */
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.content img{
	max-width: 100px;
	max-height: 150px;
}

/* .goods div div */
.goods{
	border: 1px solid #a9a6a3;
	padding: 3px;
}

.goods > div{
	display: flex;
	justify-content: space-between;
	flex: 1;
	flex-wrap: wrap;
}

.good-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 5px; /* Уголки */
}

.good-image{
	display: flex;
	justify-content: center;
	align-items: center;	
	border: 1px #ccc solid;
	height: 40%;
}

.good-desc{
	margin: 5px;
	border: 1px #ccc solid;
	justify-content: center;
	align-items: center;
	border-radius: 5px; /* Уголки */
}

.button-list{
 	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.button-elem{
	display: flex;
	border: 1px solid #000; /* Рамка вокруг текста */
	border-radius: 5px; /* Уголки */
	margin: 5px;
}

.text-center{
	text-align: center; /*Равняем текст по-горизонтали*/
}

.text-center-top{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; /*Равняем текст по-горизонтали*/
	height: 50px;
}

.text-center-bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; /*Равняем текст по-горизонтали*/
	height: 50px;
}

.footer{
	text-align: center;
	color: #ccc;
	border-top: 1px #ccc solid;
}

